@import "https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i";

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Lato', serif;
    margin-bottom: 60px;
}

#content {
    padding-bottom: 20px;
}

#footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%
}

h1, h2, h3 {
    color: #2e6da4;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaecef;
}

.container .text-muted {
    margin: 20px 0
}

.input-group input {
    height: 34px
}

.input-group-addon + input {
    height: 34.4px
}

.input-group-addon {
    min-width: 40px
}

.input-group .form-control {
    position: static
}

.ui-outputlabel .ui-outputlabel-rfi {
    color: #f5f5f5
}

.form-inline .form-group {
    margin-bottom: 15px;
    margin-right: 15px
}

textarea, .ui-datatable .ui-column-filter {
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    background: #fff none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    color: #555;
    font-size: 14px;
    line-height: 1.42857143;
    padding: 6px 12px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

textarea.ui-inputfield {
    padding: 6px 12px
}

.btn.ui-button-text-icon-left .ui-button-text {
    padding: 0 0 0 14px
}

.btn.ui-button-text-icon-right .ui-button-text {
    padding: 0 14px 0 0
}

.ui-corner-all {
    border-radius: 3px
}

.ui-widget-overlay {
    background: #1f2226;
    filter: Alpha(Opacity=60);
    opacity: .6
}

.ui-icon {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-indent: 0;
    text-rendering: auto;
    transform: translate(0, 0)
}

.ui-icon-seek-first, .ui-icon-seek-prev, .ui-icon-seek-next, .ui-icon-seek-end {
    color: transparent;
}

.ui-icon-seek-first:before {
    color: #fff;
    content: "\f100"
}

.ui-icon-seek-prev:before {
    color: #fff;
    content: "\f104"
}

.ui-icon-seek-next:before {
    color: #fff;
    content: "\f105"
}

.ui-icon-seek-end:before {
    color: #fff;
    content: "\f101"
}

.ui-icon-closethick:before, .ui-icon-close:before {
    content: "\f00d"
}

.ui-icon-carat-2-n-s:before {
    content: none;
}

.ui-icon-triangle-1-s:before {
    content: "\f161" !important
}

.ui-icon-triangle-1-n:before {
    content: "\f160" !important
}

.ui-selectonemenu-trigger .ui-icon-triangle-1-s:before {
    content: "\f078" !important
}

.ui-dialog .ui-dialog-titlebar-close span {
    padding: 17px
}

.ui-dialog .ui-dialog-titlebar-close:hover {
    padding: 1px;
    text-decoration: none;
}

.form-control.ui-selectmanymenu, .form-control.ui-selectonemenu {
    border-radius: 3px !important;
    padding: 0
}

.ui-selectlistbox-filter.ui-inputfield, .ui-selectlistbox-listcontainer, .ui-selectmanymenu, .ui-selectonemenu, .ui-autocomplete, .ui-selectonemenu-filter-container, .ui-selectonemenu-filter-container .ui-inputfield {
    width: 100%
}

.ui-selectlistbox-listcontainer, .ui-selectlistbox-filter.ui-inputfield, .ui-selectonemenu-filter-container .ui-inputfield, .bootstrap-tagsinput, .ui-autocomplete-multiple-container.ui-inputfield, .ui-autocomplete-input.ui-inputfield, .ui-selectonemenu {
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.ui-autocomplete-multiple-container.ui-inputfield, .ui-selectonemenu {
    padding: 2px 10px
}

.ui-autocomplete-input.ui-inputfield {
    padding: 6px 10px
}

.ui-autocomplete-input.ui-inputfield, .ui-autocomplete-multiple-container.ui-inputfield {
    min-width: 220px
}

.ui-selectlistbox-listcontainer {
    max-height: 130px;
    overflow-y: scroll !important
}

.ui-state-highlight, .label-info, .ui-autocomplete-token {
    background: #f5f5f5;
    color: #333
}

.ui-datatable thead th, .ui-datatable tfoot td {
    font-size: 16px;
    outline: none;
    text-align: left
}

.ui-datatable .ui-column-filter {
    margin: 4px 0 0;
    width: 100%
}

.ui-selectonemenu-panel {
    background: #fff;
    padding: 4px
}

.bootstrap-tagsinput {
    margin-top: 4px;
    padding: 4px
}

.bootstrap-tagsinput .label-info {
    margin-right: 2px
}

.bootstrap-tagsinput .label-info:last-child {
    margin-right: 0
}

.ui-autocomplete-panel {
    background: #fff
}

.ui-autocomplete-multiple {
    margin-top: 3px
}

.ui-autocomplete-panel .ui-autocomplete-table td {
    border: none
}

.ui-autocomplete-panel .ui-autocomplete-item {
    cursor: pointer;
    display: block;
    margin: 4px;
    padding: 0
}

.ui-autocomplete-token {
    background: #f5f5f5
}

.ui-autocomplete-token-icon {
    margin-top: -7px;
    right: 6px
}

.ui-autocomplete-token .ui-button-text {
    font-style: italic;
    padding: 1px 6px
}

.ui-autocomplete-token-label {
    padding: 1px 20px 1px 6px
}

.ui-selectonemenu {
    min-width: 220px;
    padding: 2px 42px 2px 10px
}

.ui-selectonemenu .ui-selectonemenu-trigger {
    background: #eee;
    border-left: 1px solid #ccc;
    width: 32px
}

.ui-datatable .hidden {
    background: #333;
    display: block !important
}

td span.fa {
    margin-right: 5px
}

label {
    display: block
}

.ui-dialog .ui-dialog-content {
    padding-bottom: 2em
}

.ui-dialog .ui-outputpanel.ui-widget.container {
    max-height: 600px;
    overflow-y: scroll
}

.round {
    border-radius: 50px
}

.ui-button-icon-only {
    height: 32px;
    padding: 0;
    width: 32px
}

.ui-button-icon-only .ui-icon {
    margin-left: -3px
}

.ui-dialog {
    background: #fff
}

.ui-dialog-titlebar {
    background: #f5f5f5;
    border-bottom: 1px solid #ddd !important
}

.ui-dialog .ui-dialog-title {
    font-size: 18px;
    margin: 12px 18px
}

.table > thead > tr > th, .table > tbody > tr > td {
    border-color: transparent
}

.input-group .form-control.ui-corner-all {
    border-radius: 3px
}

.ui-autocomplete-input-token input {
    height: 22px;
}

.ui-datatable {
    min-height: 570px;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
    margin: 8px 6px;
}

.navbar-brand>img {
    float: left;
    margin: -15px 15px -15px 0;
    height: 50px;
}

.ui-icon-check:before {
    content: "\f00c";
    font: normal normal normal 12px/1 FontAwesome;
}

.ui-chkbox .ui-chkbox-box {
    background: #fff;
    padding: 3px;
    width: auto;
    height: auto;
    border: 1px solid #ccc;
    line-height: 1;
}

.ui-datatable .ui-selection-column .ui-chkbox-all {
    margin: 0 0 5px 0;
    width: auto;
    height: auto;
}

.ui-chkbox-all .ui-icon-check:before {
    position: relative;
    bottom: 2px;
}

.ui-chkbox-icon.ui-icon {
    overflow: hidden;
    width: 14px;
    height: 14px;
    display: block;
    padding: 1px;
}

.spacer {
    padding: 0 10px;
}

.ui-selectonemenu .ui-inputfield {
    padding: 3px;
}

.ui-paginator.ui-paginator-top {
    display: none;
}

.ui-paginator-page.ui-state-active, .ui-paginator-first, .ui-paginator-prev, .ui-paginator-next, .ui-paginator-last {
    color: #fff;
    background: #337ab7;
    border-color: #2e6da4;
}

.ui-paginator-page:hover, .ui-paginator-page.ui-state-active:hover {
    color: #fff;
    background: #2e6da4;
    border-color: #2e6da4;
}

.ui-paginator-first, .ui-paginator-prev, .ui-paginator-next, .ui-paginator-last {
    padding: 2px 2px 2px 8px !important;
}

.ui-button-icon-left {
    padding: 1px;
}